<h2><%= @term.name %></h2>
<p><%= @term.content %>
<br>
<br>
<% if @user.terms.include?(@term) %>
  <%= button_to "Remove Term", bookmark_term_path(@term, type: "remove"), method: :put %>
<% else %>
  <%= button_to "Add Term", bookmark_term_path(@term, type: "add"), method: :put %>
<% end %>
<br>
<%= button_to "All Terms", terms_path, method: :get %>
<%= button_to "My Profile", user_path(@user), method: :get %>
</p>