<h1><%= @term.name %></h1>
<p><%= @term.content %>
<br>
<br>
<% if @user.terms.include?(@term) %>
  <%= button_to "Remove Term", bookmark_term_path(@term, type: "remove"), method: :put %>
<% else %>
  <%= button_to "Add Term", bookmark_term_path(@term, type: "add"), method: :put %>
<% end %>
<br>
<%= button_to "All Terms", terms_path, method: :get %></p>