<h1><%= @user.name %>'s Personal CodeDictionary</h1>
<br><br>
<% @user.terms.each do |term| %>
<%= link_to term.name, term_path(term), method: :get %><br>
<%= term.content %><br><br>
<% end %>

<%= button_to "All Languages", languages_path, method: :get %>
<%= button_to "All Terms", terms_path, method: :get %>
<%# <%= button_to "Log Out", logout_path, method: :destroy %>