<h1><%= @user.name %>'s Personal CodeDictionary</h1>
<br><br>
<% @user.terms.each do |term| %>
<%= link_to term.name, term_path(term), method: :get %><br>
<%= term.content %><br><br>
<% end %>
<br>
<br>
<% @user.favorite_languages.each do |fav_language| %>
<%= fav_language.name %>
<%= button_to "Unfavorite", favorite_language_path(fav_language, type: "unfavorite"), method: :put %><br><br>
<% end %>
<br>
<br>
<%= button_to "All Languages", languages_path, method: :get %>
