<h2><%= @user.name.capitalize %>'s Profile</h2>
<p>
<%= link_to "#{@user.name.capitalize}'s Dictionary", dictionary_path(@user) %>
<br><br>
<%= link_to "#{@user.name.capitalize}'s Favorite Language(s)", favorite_path(@user) %>
<br>
<br>
<%= button_to "All Languages", languages_path, method: :get %>
<%= button_to "All Terms", terms_path, method: :get %>
<%= button_to "Log Out", logout_path, method: :get %>
</p>